<% provide(:title, "All users") %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
  <!-- 下記にも置き換えられる
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
  -->
</ul>

<%= will_paginate %>
